Data Types and Structures **Questions**

1.What are data structures, and why are they important
ANS: data structures are like List, Tuples, Set, String, Dictionaries.
They are important to organizing and storing data in a computer so that it can be accessed and used efficietly. they define how data is related and how it can be manipulated.

2.Explain the difference between mutable and immutable data types with examples?
ANS: mutable: Mutable data type can be changed after they are created. this means we can modify their content without creating a new object.
immutable:Immutable data type cannot be changed after they are created. any operation that appears to modify an immutable object actually creates a new object with the modified value.

3.What are the main differences between lists and tuples in Python?
ANS: List: Lists are mutable,we can add, remove, or modify elemets within a list.list is defined using square brackets[].list have many built in methods for manipulation sach as append(), insert(), remove(), sort(),etc....
Tuple: Tuple are immutable,once a tuple is defined you canot add, remove, or modify. Tuple is defined using parentheses ().

4.Describe how dictionaries store data?
ANS:Dictionaries in Python store data using a key-value pair structure.

5.Why might you use a set instead of a list in Python?
ANS:sets are powerful tool when you need to work with unique elements,perform fast membership testing, or utilize mathematical set operations.

6.What is a string in Python, and how is it different from a list?
ANS: string is a sequence of characters, such as letters, numbers, symbols, and whitespace. It is used to represent textual data. Strings are immutable, meaning they cannot be changed after creation.
string is immutable, lists is mutable .
string represents textual data , lists can store elements of any data type.
string defined using single quotes('   '), double quotes("    "), or triple quotes('''   '''), lists defined using square brackets[].
string used for representing and manipulating textual data, such as names, sentences, or code.
lists used for storing collections of items that may need to modified, such as a list of numbers, taskes, or objects.

7.How do tuples ensure data integrity in Python?
ANS: tuples ensure data integrity by being immutable. This immutability prevents accidental modifications, protects sensitive data, guarantees data consistency, and enables their use as dictionary keys.

8.What is a hash table, and how does it relate to dictionaries in Python?
ANS:A hash table is a data structure that stores data in an associative manner, using key-value pairs.

9.Can lists contain different data types in Python?
ANS: Yes

10.Explain why strings are immutable in Python?
ANS:strings are immutable in Python to enhance performance, security, thread safety, and predictability.

11.What advantages do dictionaries offer over lists for certain tasks?
ANS:Dictionaries use a hash table implementation, which allows for very fast lookups and retrieval of values based on their keys.Dictionaries provide a way to organize data using meaningful keys, making your code more readable and maintainable.Dictionaries can store values of any data type, including other dictionaries, offering flexibility in representing complex data structures.

12.Describe a scenario where using a tuple would be preferable over a list?
ANS: using a tuple is preferable over a list when you need to represent immutable data, ensure data integrity, or convey the intention that data should not be modified.

13.How do sets handle duplicate values in Python?
ANS:When you add an element to a set, Python internally uses a hash function to determine the element's position in the set's underlying data structure. If an element with the same hash value already exists in the set, Python checks if the elements are equal. If they are equal, the new element is considered a duplicate and is not added to the set.

14. How does the “in” keyword work differently for lists and dictionaries

**Practical Questions**

In [1]:
#Write a code to create a string with your name and print it.

my_name = "Dikesh Chavhan"
print(my_name)

Dikesh Chavhan

In [2]:
 #Write a code to find the length of the string "Hello World"
 str = "Hello World"
 print(len(str))

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming
str = "Dikesh Chavhan"
sliced_str = str[0:3]
print(sliced_str)

Dik

In [4]:
#Write a code to convert the string "hello" to uppercase
str = "hello"
upper_str = str.upper()
print(upper_str)

HELLO

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
str = "I like apple"
new_str = str.replace("apple","orange")
print(new_str)

I like orange

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4,5]
list.append(10)
print(list)

[1, 2, 3, 4, 5, 10]

In [8]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [10]:
# Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [11]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [14]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [15]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [18]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [20]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'orange')
if "kiwi" in fruits:
  print("kiwi is in the fruits")
else:
  print("kiwi is not in the fruits")

kiwi is not in the fruits

In [22]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {"a", "b", "c"}
print(my_set)

{'b', 'c', 'a'}

In [23]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [24]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [26]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [27]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [28]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "Dikesh", "age": 20, "city": "Kathmandu"}
print(my_dict)

{'name': 'Dikesh', 'age': 20, 'city': 'Kathmandu'}

In [29]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [30]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])
#

Alice

In [32]:
from os import remove
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [33]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print("city is in the dictionary")
else:
  print("city is not in the dictionary")

city is in the dictionary

In [38]:
#Write a code to create a list, a tuple, and a dictionary, and print them all
list = [1,2,3,4,5]
tuple = (1,2,3,4,5)
dictionary = {"name": "Dikesh", "age": 20, "city": "Kathmandu"}
print(list,tuple,dictionary)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5) {'name': 'Dikesh', 'age': 20, 'city': 'Kathmandu'}

In [39]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_list = []
for i in range (5):
  random_list.append(random.randint(1,100))
random_list.sort()
print(random_list)

[3, 22, 25, 47, 72]

In [40]:
#Write a code to create a list with strings and print the element at the third index
my_list = ["apple","banana","orange","grapes","mango"]
print(my_list[3])

grapes

In [47]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Dikesh", "age": 20, "city": "Kathmandu"}
dict2 = {"name": "dk", "age": 22, "city": "kinwat"}
combine_dict = dict1.copy()
combine_dict.update(dict2)
print(combine_dict)

{'name': 'dk', 'age': 22, 'city': 'kinwat'}

In [51]:
#Write a code to convert a list of strings into a set
string_list = ["apple", "banana", "orange", "apple"]  # Example list of strings
string_set = set(string_list)  # Convert the list to a set
print(string_set)

TypeError: 'set' object is not callable